th {
    text-align: start;
}

.navbar-header {
    background-color: #4f008c;
}

.sidebar-toggle,
.sidebar-mobile-toggle {
    color: #fff;
}

.sidebar-logo img {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}
