body {
    font-family: "Cairo", sans-serif;
}

th {
    text-align: start;
}

.navbar-header {
    background-color: #4f008c;
}

.sidebar-toggle,
.sidebar-mobile-toggle {
    color: #fff;
}

.sidebar-logo img {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.select2-container,
.select2-container .selection {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    height: 44px !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 40px !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 44px;
    top: 1px;
    right: 10px;
}

.select2-container--default .select2-selection--multiple {
    min-height: 44px !important;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 4px 10px;
}

.select2-container--default .select2-selection--multiple:focus {
    border: 1px solid #4f008c;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #4f008c;
    color: #fff;
    outline: none;
    border: none;
    padding: 2px 15px;
    border-radius: 10px;
}

.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #4f008c;
}

.select2-container--default .select2-search--inline .select2-search__field {
    line-height: 15px;
}
