.dashboard-main {
    margin-inline-start: 0;
}

.dashboard-main-body {
    padding-top: 160px;
}

.navbar-header {
    color: var(--bank-font-color);
    background-color: var(--bank-background-color);
}

.main-navbar {
    background-color: var(--bank-background-color);
    padding: 1rem 1.5rem;
}

.header-logo {
    width: 180px;
    margin-inline-end: 30px;
}

.navbar-header .nav-link {
    color: var(--bank-font-color);

    &.active::after,
    &::after {
        background-color: var(--bank-font-color);
    }
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: var(--bank-font-color);
    background-color: var(--bank-background-color);
    padding-bottom: 20px;
}

.hero-section-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-width: 750px;
}

.hero-section .bank-title {
    color: var(--bank-font-color);
    display: flex;
    flex-direction: column;
    font-size: var(--font-2xxl);
    gap: 10px;
}

.search-feature-input {
    height: 3.5rem !important;
}

.products-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--neutral-300);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.products-tabs-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.products-tabs-item {
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;

    &.active {
        font-weight: 700;
    }

    &.active,
    &:hover {
        color: black;

        &::after {
            width: 100%;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 0%;
        height: 3px;
        background-color: black;
        border-radius: 8px;
        transition: 0.3s ease-in-out;
    }
}

.section-card {
    min-height: 260px;
    position: relative;
}

.section-card .card-title {
    /* font-size: 1rem !important; */
    margin-bottom: 20px;
}

.section-card .section-card-list {
    line-height: 2;
}

.section-card .article-title {
    text-decoration: underline;
    color: black;
    transition: 0.3s ease-in-out;

    &:hover {
        color: var(--bank-background-color);
    }
}

.section-card .view-all-container {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 35px;
    font-weight: 700;
    color: black;
    font-size: var(--font-sm);
}

.section-card .view-all-count {
    background-color: var(--neutral-200);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.article-page {
    .article-header {
        border-bottom: 1px solid var(--neutral-200);
        padding-bottom: 25px;
        margin-bottom: 40px;

        .article-title {
            font-size: var(--font-2xxl);
            margin-bottom: 15px;
        }

        .article-details {
            display: flex;
            justify-content: space-between;

            .views-count {
                border: 1px solid var(--neutral-200);
                padding: 5px 10px;
                border-radius: 8px;
                transition: 0.3s ease-in-out;
                font-size: var(--font-sm);

                .icon {
                    font-size: var(--font-xxl);
                    color: black;
                }
            }
        }
    }
}

.article-content iframe {
    width: 100%;
    /* height: 1000px; */
}

.sections-list {
    list-style: circle;
    padding-inline-start: 20px;
    line-height: 2.2;
}

.sections-list li a {
    transition: 0.3s ease-in-out;

    &:hover {
        color: var(--bank-background-color);
    }
}

.search-feature {
    .bank-title {
        margin-bottom: 20px;
    }

    .search-tabs {
        display: flex;
        gap: 8px;
        margin-bottom: 10px;

        .search-tabs-button {
            width: calc(100% / 3);
            padding: 8px 12px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            color: #000;
            text-align: center;
            border-radius: 8px;
            background: var(--neutral-300);

            &.active,
            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }

    .search-feature-form {
        position: relative;

        .search-feature-input-container {
            display: flex;
            gap: 8px;

            .search-feature-input {
            }

            .search-feature-input-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--font-xl);
                background-color: #000;
                color: #fff;
                border-radius: 8px;
                width: 60px;
                height: 3.5rem;
                transition: 0.3s ease-in-out;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .search-result {
            position: absolute;
            left: 0;
            top: 60px;
            width: 100%;
            background: #fff;
            border: 1px solid var(--neutral-200);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            color: #000;
            border-radius: 5px;
            padding: 10px;

            .ai-response {
                margin: 0;
            }

            .search-result-item {
                padding: 8px 12px;
                border-bottom: 1px solid var(--neutral-200);
                transition: 0.3s ease-in-out;
                display: block;

                &:hover {
                    background: var(--neutral-100);
                }

                .result-item-title {
                    font-size: var(--font-xl);
                    margin: 0;
                }

                .result-item-description {
                    font-size: var(--font-sm);
                    margin: 0;
                }
            }
        }
    }
}

.action-button {
    border: 1px solid var(--neutral-200);
    padding: 5px 10px;
    font-size: var(--font-xxl);
    color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &.active,
    &:hover {
        background-color: black;
        color: #fff;
    }
}

.article-comments-card {
    margin-top: 15px;

    .rate-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .like-button,
        .dislike-button {
            font-size: var(--font-2xxl);
        }
    }
}
